
<IfModule mod_rewrite.c>
RewriteEngine on
RewriteCond $1 !^(index\.php|public|\.txt)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?$1
</IfModule>

<FilesMatch ^((composer|package)\.lock$|mysecretfolder|asecretpicture\.jpe?g)$>
    Deny from all
</FilesMatch>
<FilesMatch ^((composer|package)\.json$|mysecretfolder|asecretpicture\.jpe?g)$>
    Deny from all
</FilesMatch>
<FilesMatch ^(page)$>
    Deny from all
</FilesMatch>